body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('PNG/BesseresHolzbrett.jpg');
    background-size: cover;

    .game-container {
        position: relative;
        width: 100%;
        height: 100%;
        border: 5px solid #333;
        overflow: hidden;
    }

    .target {
        position: absolute;
        width: 100px;
        height: 50px;
        background-image: url('PNG/CornichonAIM.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        cursor: pointer;
    }

    #reaction-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    #reaction-table th,
    #reaction-table td {
        padding: 8px;
        text-align: center;
        border: 1px solid #000000;
    }

    .score {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    .timer {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    .high-score {
        position: absolute;
        top: 20px;
        right: 40%;
        font-size: 24px;
        font-weight: bold;
    }

    .start-button,
    .reset-button,
    #apply-difficulty,
    #difficulty {
        font-family: inherit;
        position: absolute;
        bottom: 20px;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }

    .start-button {
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
    }

    .reset-button {
        left: calc(50% + 100px);
        background-color: #555;
        color: #fff;
    }

    #apply-difficulty {
        left: calc(1%);
        background-color: #555;
        color: #fff;
    }


    #difficulty {
        left: 15%;
        background-color: #555;
        color: #fff;
    }
}