body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('PNG/BesseresHolzbrett.jpg'); /* Hinzugefügt */
    background-size: cover;

.game-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid #333;
    overflow: hidden;
}

.target {
    position: absolute;
    width: 100px;
    height: 50px;
    background-image: url('PNG/CornichonAIM.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Hinzugefügt */
    border-radius: 50%;
    cursor: pointer;
}

.score {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
}

.timer {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.start-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
}